<div class="flex-container">
    <div class="flex-column">
        <div class="uploadImage">
            <input type="file" style="display: none;" (click)="setEmptyProfilePic()" (change)="uploadPhoto($event)"
                #fileUpload>
            <img [src]="src" style="width: 150px;height:150px">
        </div>
        <button (click)="fileUpload.click()" class="submitButton">Edit Photo</button>
    </div>
</div>
<p class="editable" id="dataBlock">

    I am <mark class="blue" contenteditable="true" >{{data.firstname}}</mark> <mark
        class="blue" contenteditable="true" >{{data.lastname}}</mark>
    and I am <mark class="blue" contenteditable="true" >{{data.age}}</mark> years of age
    and you can send your mails to <mark class="blue" contenteditable="true"
    >{{data.email}}</mark> . I live in the state of {{data.state}}. I like to <mark
        class="blue" contenteditable="true" 
        *ngFor="let hobby of data.hobbies">{{hobby.name}}, </mark> And please send me
    the news letters. Please reach out to me on my phone {{data.tel}}
</p>

<button (click)="fileUpload.click()" style="margin-left: 411px;" class="submitButton">Agree</button>