mark.blue {
    color: #0a9aad;
    background: none;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-column {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: left;
    line-height: 5px;
    font-size: 15px;
    margin-bottom: 0;
}

.formRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.editable {
    padding: 10px 0px 20px 30px;
    margin: 50px 30px 20px 30px;
    background-color: #80808029;
}

.submitButton {
    margin: 0px 109px 40px;
    background-color: rgb(143, 36, 143);
    border: none;
    border-radius: 5px;
    min-height: 28px;
    color: white;
    cursor: pointer;
}

.uploadImage {
    width: 150px;
    background-color: purple;
    padding: 24px;
    margin: 47px;
}