div.container{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.registerButton{
    color:white;
    font-size: 15px;
    background-color: rgb(156, 215, 238);
    padding: 15px 65px 15px 65px;
    border-radius: 5px;
    border: 2px solid rgb(81, 144, 196);
}