<div class="flex-container">
    <div class="flex-column">
        <div class="uploadImage">
            <input type="file" style="display: none;" (click)="setEmptyProfilePic()" (change)="uploadPhoto($event)"
                #fileUpload>
            <img [src]="src" style="width: 150px;height:150px">
        </div>
        <button (click)="fileUpload.click()" class="submitButton">Browse & Upload Photo</button>
    </div>
    <div class="flex-column form-column">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

            <!-- ==================================== Name ====================================== -->
            <div class="formRow">
                <label for="firstname">Name </label>
                <input type="text" (keyup)="nameValidation()" id="firstname" name="firstname"
                    formControlName="firstname" class="nameAlign" placeholder="First name" autocomplete="off">
                <input type="text" id="lastname" name="lastname" formControlName="lastname" placeholder="Last name"
                    class="nameAlign" autocomplete="off">
            </div>
            <div *ngIf="!isFirstNameValid" class="invalidMessage">* Please enter a valid name</div>

            <!-- ==================================== Age ====================================== -->
            <div class="formRow">
                <label for="firstname">Age </label>
                <ngx-slider [(value)]="value" class="slider"  id="age" name="age" formControlName="age"  [options]="options"></ngx-slider>
            </div>

            <!-- <div *ngIf="!isFirstNameValid" class="invalidMessage">* Please enter a valid name</div> -->

            <!-- ================================== Email ====================================== -->
            <div class="formRow">
                <label for="email">Email </label>
                <input class="inputWidth" type="text" (keyup)="getIsEmailValid()" id="email" name="email"
                    formControlName="email" autocomplete="off">
            </div>
            <div *ngIf="!isEmailValid" class="invalidMessage">* Please enter a valid email Id</div>


            <!-- =============================== Telephone =================================== -->
            <div class="formRow">
                <label for="tel">Tel </label>
                <input class="inputWidth" type="text" (keyup)="getIsTelNoValid()" id="tel" name="tel"
                    formControlName="tel" autocomplete="off">
            </div>
            <div *ngIf="!isTelNoValid" class="invalidMessage">* Please enter a valid telephone number</div>


            <!-- ================================== State ====================================== -->
            <div class="formRow">
                <label for="state">State </label>
                <select class="inputWidth" id="state" name="state" formControlName="state">
                    <option [ngValue]="state.name" *ngFor="let state of stateList">
                        {{state.name}}
                    </option>
                </select>
            </div>
            <div *ngIf="!isStateValid" class="invalidMessage">* Please select a state</div>

            <!-- ================================== Address ====================================== -->
            <div class="formRow">
                <label for="addressType">Address </label>
                <select class="inputWidth" id="addressType" name="addressType" formControlName="addressType"
                    (change)=addressTypeChange()>
                    <option [ngValue]="address.addressType" *ngFor="let address of addressList">
                        {{address.addressType}}
                    </option>
                </select>
            </div>
            <div *ngIf="showAddressesLine" class="formRow">
                <label for="address1"> </label>
                <input class="inputWidth" type="text" id="address1" name="address1" formControlName="address1"
                    autocomplete="off">
            </div>

            <div *ngIf="showAddressesLine" class="formRow">
                <label for="address2"> </label>
                <input class="inputWidth" type="text" id="address2" name="address2" formControlName="address2"
                    autocomplete="off">
            </div>

            <div class="formRow">
                <label>Interests</label>
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-chip-list #chipList aria-label="Hobby selection">
                        <mat-chip *ngFor="let hobby of hobbies" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(hobby)">
                            {{hobby.name}}
                            <button matChipRemove *ngIf="removable">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="Enter your interests here..." [matChipInputFor]="chipList" id="hobbies"
                            name="hobbies" formControlName="hobbies" autocomplete="off"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>

            <p>
                <input type="checkbox" id="subscribed" name="subscribed" formControlName="subscribed">
                <label>Subscribe to news letters</label>
            </p>


            <p>
                <button class="submitAlign" [disabled]="!contactForm.valid" type="submit">Submit</button>
            </p>

        </form>
    </div>
</div>