.flex-container {
    display: flex;
    flex-wrap: nowrap;
    /* background-color: DodgerBlue; */
    justify-content: center;
}

.flex-column {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: left;
    line-height: 5px;
    font-size: 15px;
    margin-bottom: 0;
}

.form-column {
    padding: 20px;
}

.inputWidth {
    width: 550px;
    height: 50px;
    border: none;
}

input:focus {
    outline: none !important;
    border: none;
}

select:focus {
    outline: none !important;
    border: none;
}

.nameAlign {
    outline: none !important;
    border: none;
    width: 268px;
    height: 50px;
}

.nameAlign input:focus {
    outline: none !important;
    border: none;
}

p {
    display: table-row;
    margin: 0 0 0 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.invalidMessage {
    padding: 0px 0px 0px 100px;
    color: red;
    font-size: 12px;
}

.formRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.formRow label {
    width: 100px;
}

.formRow input {
    margin: 0px 10px 0px 0px;
}

.uploadImage {
    width: 150px;
    background-color: purple;
    padding: 24px;
    margin: 47px;
}

.slider{
padding-bottom:45px;
}

.submitButton {
    margin: 0px 64px 40px;
    background-color: rgb(143, 36, 143);
    border: none;
    border-radius: 5px;
    min-height: 28px;
    color: white;
    cursor: pointer;
}

.submitAlign {
    margin: 1rem 0rem 0rem 20rem;
    background-color: rgb(143, 36, 143);
    border: none;
    border-radius: 5px;
    min-height: 28px;
    color: white;
    cursor: pointer;
}

::ng-deep .mat-form-field {
    width: 550px;
    background-color: white;
    font-size: 12px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
}

::ng-deep .mat-chip {
    background-color: powderblue;
}

::ng-deep .mat-chip.mat-standard-chip {
    background-color: purple;
    color: white;
}

::ng-deep .mat-standard-chip {
    min-height: 20px!important;
    padding: 7px 12px;
}

::ng-deep .mat-chip-list-wrapper {
    padding-bottom: 10px;
}

button:disabled{
    background-color: rgba(190, 190, 190, 0.836);
    cursor: not-allowed;
}